@import url(../assets//base.less);

.@{pre}{
	&toggle-checked{
		background-image: none;
    --handleoffsetcalculator: var(--handleoffset);
    --tw-text-opacity: 1;
    color: var(--fallback-bc,oklch(var(--bc)/var(--tw-text-opacity)));
	}
	&-label {
    
	}
	&toggle[data-disabled] {
		@apply opacity-40 cursor-not-allowed;
	}
}