@import url(../assets/base.less);

.@{pre}{
  &radio {
    @apply w-5 h-5 inline-flex justify-center;
    cursor: inherit;
    &-group-horizontal{
      @apply inline-flex;
    }
    &-control {
      @apply size-4 rounded-full border-2;
    }
  }
  &radio-label{
    @apply inline-flex items-center cursor-pointer;
    
    &[data-disabled] {
      @apply cursor-not-allowed opacity-55;
    }
    &:not(:last-of-type) {
      @apply pr-4;
    }
    .@{pre}label-text{
      padding-left: 8px;
      cursor: inherit;
    }
  }
  &radio-item:not(:last-of-type) {
    margin-right: 16px;
  }
}